#command{
    height: 40px;
    width: 500px;
    font-size: large;
    border-color: red;
}
#label{
    font-size: larger;
    color: red;
}

.submit
{
    height: 40px;
    width: 100px;
    font-size: large;
    color: red;
}