#command{
    height: 40px;
    width: 500px;
    font-size: large;
    border-color: red;
}
#label{
    text-align: center;
    text-transform: uppercase;
    font-size: 8em;
    color: red;
    letter-spacing: 0.15em;
    text-shadow:
    0 0 5px #7bacff,
    0 0 10px #7bacff,
    0 0 20px #7bacff,
    0 0 40px #7bacff,
    0 0 80px #7bacff,
    0 0 90px #7bacff,
    0 0 100px #7bacff,
    0 0 150px #7bacff;
}
.submit
{
    height: 40px;
    width: 100px;
    font-size: large;
    color: red;
}