{% extends "base.html" %}

{% block content %}
    <h1>Create Account</h1>
  <form method="post" action="/">
  {%csrf_token%}
      Name:
  <input type="text" name="name" required/><br>
     Email:
  <input type="email" name="email" required/><br>
      Home Phone:
      <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Format 555-555-5555" required><br>
      Address:
      <input type="text" name="address"/><br>
      <input type="radio" name="title" value="TA"  checked>TA<br>
      <input type="radio" name="title" value="Instructor">Instructor<br>
      <input type="radio" name="title" value="Administrator">Administrator<br>
      <input type="radio" name="title" value="Supervisor">Supervisor<br>
  <input type="submit"/><br>
  </form>
  <h1>All Accounts:</h1>
  <ul>
  {% for i in b %}
  <li>{{i.display}}</li>
  {% endfor %}
  </ul>
{% endblock content %}