{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'login.css' %}">
</head>
<body>
 <form method="post" action="/login/"> <!--Its super important that action matches the url of the page-->
  {%csrf_token%}
      User name:
  <input type="text" name="username" id="username" required/><br>
     Password:
  <input type="password" name="password" id="password" required/><br>
  <input type="submit" value="Login" id="submit"/><br>
  </form>
<p>{{message}}</p>
</body>
</html>