body{
        background-image: url(logo.png),url(background.png);
        background-repeat: no-repeat, no-repeat;
    background-position: right, center;
        color: black;
    }

#command{
    height: 40px;
    width: 650px;
    font-size: large;
    border-color: blue;
}
#label{
    text-align: center;
    text-transform: uppercase;
    font-size: 8em;
    color: red;
    letter-spacing: 0.15em;
    text-shadow:
    0 0 5px #7bacff,
    0 0 10px #7bacff,
    0 0 20px #7bacff,
    0 0 40px #7bacff,
    0 0 80px #7bacff,
    0 0 90px #7bacff,
    0 0 100px #7bacff,
    0 0 150px #7bacff;
}
.submit
{
    height: 40px;
    width: 100px;
    font-size: large;
    color: red;
      display: inline-block;
    padding: 0.3em 1em;
    border: solid 3px red;
    border-radius: 4px;
    transition: .5s;
}
.submit.hover{
     background: red;
    color: white;
}
